
  
  .editor-container {
    float: left;
    width: 400px;
    height: 500px;
    top: auto;
    bottom: auto;
    position: relative;
  }


  
  #editor {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
  }